Repository welllucky/Services, changes with the labels that .github/labeler.yml gives for each.
All labels: refactor, documentation, test, dependencies

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
# root:
#   - changed-files:
#     - any-glob-to-any-file: '*'
  
  # Add 'AnyChange' label to any changes within the entire repository
  refactor:
  - changed-files:
    - any-glob-to-any-file: '**'
  
  # Add 'Documentation' label to any changes within 'docs' folder or any subfolders
  documentation:
  - changed-files:
    - any-glob-to-any-file: docs/**
  
  # Add 'Documentation' label to any file changes within 'docs' folder
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file: docs/*
  
  # Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file:
  #     - docs/*
  #     - guides/*
  
  ## Equivalent of the above mentioned configuration using another syntax
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file: ['docs/*', 'guides/*']
  
  # Add 'Documentation' label to any change to .md files within the entire repository 
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file: '**/*.md'
  
  # Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
  source:
    - changed-files:
      - any-glob-to-any-file: 'src/**/*'
      - all-globs-to-all-files: '!src/docs/*'
  
  # Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
  feature:
   - head-branch: ['^feature', 'feature']
  
  # Add 'release' label to any PR that is opened against the `main` branch
  release:
   - base-branch: 'prod'

  test:
    - changed-files:
      - any-glob-to-any-file: 'tests/**/*'

  # Add 'bug' label to any PR that has the word 'bug' in the title
  bugfix:
   - title: 'bug'
  
  dependencies:
    - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'yarn.lock'

Adição do Meticulous Script
  src/app/layout.tsx
Labels: refactor

refactor: :lipstick: Corrige visual da tela de abertura de chamado
  src/screens/OpenTicket/index.tsx
Labels: refactor

refactor: :lipstick: Corrige visual da tela de abertura de chamado
  src/screens/OpenTicket/index.tsx
Labels: refactor

Update README.md
  README.md
  src/screens/OpenTicket/UI/index.tsx
  src/server/controllers/Ticket/index.ts
Labels: refactor

Update README.md
  README.md
  src/screens/OpenTicket/UI/index.tsx
  src/server/controllers/Ticket/index.ts
Labels: refactor

perf: :wrench: Configura o Sentry na aplicação
  .eslintrc.json
  .gitignore
  README.md
  next.config.js
  package.json
  playwright.config.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation.ts
  tests/e2e/example.e2e.ts
  tests/e2e/noMobileDevice/index.e2e.tsx
  tests/playwright/index.html
  tests/playwright/index.tsx
  tests/playwright/report/index.html
Labels: refactor, test, dependencies

perf: :wrench: Configura o Sentry na aplicação
  .eslintrc.json
  .gitignore
  README.md
  next.config.js
  package.json
  playwright.config.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation.ts
  tests/e2e/example.e2e.ts
  tests/e2e/noMobileDevice/index.e2e.tsx
  tests/playwright/index.html
  tests/playwright/index.tsx
  tests/playwright/report/index.html
Labels: refactor, test, dependencies

feat: :zap: Adiciona o PNPM no projeto
  .gitignore
  pnpm-lock.yaml
Labels: refactor

feat: :zap: Adiciona o PNPM no projeto
  .gitignore
  pnpm-lock.yaml
Labels: refactor

Endpoints de solicitações
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app/api/issues/route.ts
  src/screens/Issues/UI/index.tsx
  src/screens/Issues/index.tsx
  src/server/controllers/Issue/index.ts
  src/server/controllers/Ticket/index.ts
  src/server/repository/Issue/index.ts
  src/server/repository/Ticket/index.ts
  src/server/repository/index.ts
  src/server/services/Issue/index.ts
  src/server/services/Ticket/index.ts
  tests/playwright/report/index.html
Labels: refactor, test, dependencies

Endpoints de solicitações
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app/api/issues/route.ts
  src/screens/Issues/UI/index.tsx
  src/screens/Issues/index.tsx
  src/server/controllers/Issue/index.ts
  src/server/controllers/Ticket/index.ts
  src/server/repository/Issue/index.ts
  src/server/repository/Ticket/index.ts
  src/server/repository/index.ts
  src/server/services/Issue/index.ts
  src/server/services/Ticket/index.ts
  tests/playwright/report/index.html
Labels: refactor, test, dependencies

build: :wrench: Atualiza os scripts de flow record e do sentry
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/ global-error.tsx
  src/app/layout.tsx
  src/instrumentation.ts
Labels: refactor

build: :wrench: Atualiza os scripts de flow record e do sentry
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/ global-error.tsx
  src/app/layout.tsx
  src/instrumentation.ts
Labels: refactor

refactor: :lipstick: Padronizar os containers da telas da aplicação
  .eslintrc.json
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  src/app/ global-error.tsx
  src/app/(protected)/home/page.tsx
  src/app/(protected)/layout.tsx
  src/app/page.tsx
  src/assets/Icons/EmptyBox.tsx
  src/components/NavBar/data/index.tsx
  src/components/NavBar/index.tsx
  src/components/TicketCard/index.tsx
  src/components/TicketCard/subComponents/Description/index.tsx
  src/components/TicketCard/subComponents/Id/index.tsx
  src/components/TicketCard/subComponents/Info/index.tsx
  src/components/TicketCard/subComponents/Info/styles.ts
  src/components/TicketCard/subComponents/Signal/index.tsx
  src/components/TicketCard/subComponents/index.tsx
  src/components/common/Buttons/BackButton/index.tsx
  src/database/index.ts
  src/screens/Issue/components/ActionButton/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/index.tsx
  src/screens/NoMobileDevice/themeTitle.ts
  src/screens/OpenTicket/UI/components/Resume/index.tsx
  src/screens/OpenTicket/UI/index.tsx
  src/screens/Ticket/components/ActionButton/index.tsx
  src/screens/Ticket/components/FormDisplay/index.tsx
  src/server/repository/Event/index.ts
  src/server/repository/Ticket/index.ts
  src/server/services/Event/index.ts
  src/server/services/Ticket/index.ts
  src/types/Dto/PriorityLevel.ts
  src/utils/functions/createSelectors/index.ts
  src/utils/stores/TicketStore/index.ts
Labels: refactor, dependencies

refactor: :lipstick: Padronizar os containers da telas da aplicação
  .eslintrc.json
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  src/app/ global-error.tsx
  src/app/(protected)/home/page.tsx
  src/app/(protected)/layout.tsx
  src/app/page.tsx
  src/assets/Icons/EmptyBox.tsx
  src/components/NavBar/data/index.tsx
  src/components/NavBar/index.tsx
  src/components/TicketCard/index.tsx
  src/components/TicketCard/subComponents/Description/index.tsx
  src/components/TicketCard/subComponents/Id/index.tsx
  src/components/TicketCard/subComponents/Info/index.tsx
  src/components/TicketCard/subComponents/Info/styles.ts
  src/components/TicketCard/subComponents/Signal/index.tsx
  src/components/TicketCard/subComponents/index.tsx
  src/components/common/Buttons/BackButton/index.tsx
  src/database/index.ts
  src/screens/Issue/components/ActionButton/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/index.tsx
  src/screens/NoMobileDevice/themeTitle.ts
  src/screens/OpenTicket/UI/components/Resume/index.tsx
  src/screens/OpenTicket/UI/index.tsx
  src/screens/Ticket/components/ActionButton/index.tsx
  src/screens/Ticket/components/FormDisplay/index.tsx
  src/server/repository/Event/index.ts
  src/server/repository/Ticket/index.ts
  src/server/services/Event/index.ts
  src/server/services/Ticket/index.ts
  src/types/Dto/PriorityLevel.ts
  src/utils/functions/createSelectors/index.ts
  src/utils/stores/TicketStore/index.ts
Labels: refactor, dependencies

feat: :sparkles: Implementa o endpoint de solicitações e de pesquisa
  .github/workflows/meticulous.yaml
  src/app/(protected)/chamados/page.tsx
  src/app/(protected)/pesquisa/page.tsx
  src/app/(protected)/solicitacoes/page.tsx
  src/app/api/search/route.ts
  src/app/layout.tsx
  src/components/NoContent/styles.tsx
  src/components/SearchBar/index.tsx
  src/components/TicketCard/index.tsx
  src/screens/Home/UI/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Register/index.tsx
  src/screens/Search/UI/components/content/empty/index.tsx
  src/screens/Search/UI/components/content/index.tsx
  src/screens/Search/UI/components/content/noResults/index.tsx
  src/screens/Search/UI/components/content/results/index.tsx
  src/screens/Search/UI/components/content/styles.tsx
  src/screens/Search/UI/components/index.tsx
  src/screens/Search/UI/components/searchBar/index.tsx
  src/screens/Search/UI/components/searchBar/styles.ts
  src/screens/Search/UI/index.tsx
  src/screens/Search/index.tsx
  src/screens/Search/styles.ts
  src/screens/Tickets/UI/index.tsx
  src/server/controllers/Search/index.ts
  src/server/controllers/index.ts
  src/server/functions/getAuthToken/index.ts
  src/server/functions/getFormattedBody/index.ts
  src/server/functions/index.ts
  src/server/functions/protectController/index.ts
  src/server/index.ts
  src/server/repository/Search/index.ts
  src/server/repository/Ticket/index.ts
  src/server/repository/index.ts
  src/server/services/Search/index.ts
  src/server/services/index.ts
  src/server/views/index.ts
  src/utils/apis/Search/index.ts
  src/utils/apis/index.ts
Labels: refactor

feat: :sparkles: Implementa o endpoint de solicitações e de pesquisa
  .github/workflows/meticulous.yaml
  src/app/(protected)/chamados/page.tsx
  src/app/(protected)/pesquisa/page.tsx
  src/app/(protected)/solicitacoes/page.tsx
  src/app/api/search/route.ts
  src/app/layout.tsx
  src/components/NoContent/styles.tsx
  src/components/SearchBar/index.tsx
  src/components/TicketCard/index.tsx
  src/screens/Home/UI/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Register/index.tsx
  src/screens/Search/UI/components/content/empty/index.tsx
  src/screens/Search/UI/components/content/index.tsx
  src/screens/Search/UI/components/content/noResults/index.tsx
  src/screens/Search/UI/components/content/results/index.tsx
  src/screens/Search/UI/components/content/styles.tsx
  src/screens/Search/UI/components/index.tsx
  src/screens/Search/UI/components/searchBar/index.tsx
  src/screens/Search/UI/components/searchBar/styles.ts
  src/screens/Search/UI/index.tsx
  src/screens/Search/index.tsx
  src/screens/Search/styles.ts
  src/screens/Tickets/UI/index.tsx
  src/server/controllers/Search/index.ts
  src/server/controllers/index.ts
  src/server/functions/getAuthToken/index.ts
  src/server/functions/getFormattedBody/index.ts
  src/server/functions/index.ts
  src/server/functions/protectController/index.ts
  src/server/index.ts
  src/server/repository/Search/index.ts
  src/server/repository/Ticket/index.ts
  src/server/repository/index.ts
  src/server/services/Search/index.ts
  src/server/services/index.ts
  src/server/views/index.ts
  src/utils/apis/Search/index.ts
  src/utils/apis/index.ts
Labels: refactor

style: :lipstick: Ajustes visuais na aplicação
  .hintrc
  package.json
  pnpm-lock.yaml
  public/sw.js
  public/sw.js.map
  src/assets/Icons/EnterIcon.tsx
  src/assets/Icons/FilterIcon.tsx
  src/assets/Icons/HiddenIcon.tsx
  src/assets/Icons/LeftIcon.tsx
  src/assets/Icons/SettingsIcon.tsx
  src/assets/Icons/ShieldIcon.tsx
  src/assets/Icons/index.tsx
  src/components/NavBar/index.tsx
  src/components/PageStruct/index.tsx
  src/components/SearchBar/index.tsx
  src/components/SearchBar/styles.ts
  src/components/TicketCard/styles.ts
  src/screens/Home/UI/index.tsx
  src/screens/Issue/components/ActionButton/index.tsx
  src/screens/OpenIssue/ConfirmMedia/UI/index.tsx
  src/screens/OpenIssue/ConfirmMedia/index.tsx
  src/screens/OpenIssue/UI/components/Date/index.tsx
  src/screens/OpenIssue/UI/components/Description/index.tsx
  src/screens/OpenIssue/UI/components/Priority/index.tsx
  src/screens/OpenIssue/UI/components/Resume/index.tsx
  src/screens/OpenIssue/UI/components/Type/index.tsx
  src/server/controllers/Search.ts
  src/server/controllers/index.ts
Labels: refactor, dependencies

style: :lipstick: Ajustes visuais na aplicação
  .hintrc
  package.json
  pnpm-lock.yaml
  public/sw.js
  public/sw.js.map
  src/assets/Icons/EnterIcon.tsx
  src/assets/Icons/FilterIcon.tsx
  src/assets/Icons/HiddenIcon.tsx
  src/assets/Icons/LeftIcon.tsx
  src/assets/Icons/SettingsIcon.tsx
  src/assets/Icons/ShieldIcon.tsx
  src/assets/Icons/index.tsx
  src/components/NavBar/index.tsx
  src/components/PageStruct/index.tsx
  src/components/SearchBar/index.tsx
  src/components/SearchBar/styles.ts
  src/components/TicketCard/styles.ts
  src/screens/Home/UI/index.tsx
  src/screens/Issue/components/ActionButton/index.tsx
  src/screens/OpenIssue/ConfirmMedia/UI/index.tsx
  src/screens/OpenIssue/ConfirmMedia/index.tsx
  src/screens/OpenIssue/UI/components/Date/index.tsx
  src/screens/OpenIssue/UI/components/Description/index.tsx
  src/screens/OpenIssue/UI/components/Priority/index.tsx
  src/screens/OpenIssue/UI/components/Resume/index.tsx
  src/screens/OpenIssue/UI/components/Type/index.tsx
  src/server/controllers/Search.ts
  src/server/controllers/index.ts
Labels: refactor, dependencies

fix: upgrade zustand from 5.0.0-rc.2 to 5.0.0
  package.json
Labels: refactor, dependencies

refactor: :sparkles: Adiciona novas entidades e atualiza a configuração do TypeOrm
  .gitignore
  package.json
  pnpm-lock.yaml
  public/sw.js
  public/sw.js.map
  services.sqlite
  src/app/ global-error.tsx
  src/app/(protected)/layout.tsx
  src/app/login/page.tsx
  src/components/Headers/Header/index.tsx
  src/components/NavBar/OptionMenu/index.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.tsx
  src/components/common/Buttons/IconButton/index.tsx
  src/components/common/Buttons/IconButton/styles.tsx
  src/database/index.ts
  src/middleware.ts
  src/screens/Login/UI/components/Form/EmailInput/index.tsx
  src/screens/Login/UI/components/Form/PasswordInput/index.tsx
  src/screens/Login/UI/index.tsx
  src/screens/Login/index.tsx
  src/screens/OpenIssue/Template/index.tsx
  src/server/controllers/Issue.ts
  src/server/controllers/Session.ts
  src/server/entities/Address.ts
  src/server/entities/ColorScheme.ts
  src/server/entities/Enterprise.ts
  src/server/entities/IssueCategories.ts
  src/server/entities/Subsidiary.ts
  src/server/entities/Ticket.ts
  src/server/entities/User.ts
  src/server/entities/index.ts
  src/types/Dto/Ticket.ts
  src/types/index.tsx
  src/utils/functions/closeSession/index.ts
  src/utils/functions/createSession/index.ts
  src/utils/functions/getUser/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor, dependencies

refactor: :sparkles: Adiciona novas entidades e atualiza a configuração do TypeOrm
  .gitignore
  package.json
  pnpm-lock.yaml
  public/sw.js
  public/sw.js.map
  services.sqlite
  src/app/ global-error.tsx
  src/app/(protected)/layout.tsx
  src/app/login/page.tsx
  src/components/Headers/Header/index.tsx
  src/components/NavBar/OptionMenu/index.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.tsx
  src/components/common/Buttons/IconButton/index.tsx
  src/components/common/Buttons/IconButton/styles.tsx
  src/database/index.ts
  src/middleware.ts
  src/screens/Login/UI/components/Form/EmailInput/index.tsx
  src/screens/Login/UI/components/Form/PasswordInput/index.tsx
  src/screens/Login/UI/index.tsx
  src/screens/Login/index.tsx
  src/screens/OpenIssue/Template/index.tsx
  src/server/controllers/Issue.ts
  src/server/controllers/Session.ts
  src/server/entities/Address.ts
  src/server/entities/ColorScheme.ts
  src/server/entities/Enterprise.ts
  src/server/entities/IssueCategories.ts
  src/server/entities/Subsidiary.ts
  src/server/entities/Ticket.ts
  src/server/entities/User.ts
  src/server/entities/index.ts
  src/types/Dto/Ticket.ts
  src/types/index.tsx
  src/utils/functions/closeSession/index.ts
  src/utils/functions/createSession/index.ts
  src/utils/functions/getUser/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor, dependencies

Update README.md
  README.md
  src/screens/NoMobileDevice/themeTitle.ts
Labels: refactor

Update README.md
  README.md
  src/screens/NoMobileDevice/themeTitle.ts
Labels: refactor

fix: :bug: Corrige conexão ssl com banco de dados
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/database/index.ts
Labels: refactor

fix: :bug: Corrige conexão ssl com banco de dados
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/database/index.ts
Labels: refactor

feat: :monocle_face: Adiciona envio de logs de erro para o Sentry
  next.config.js
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/database/index.ts
  src/server/controllers/Issue.ts
  src/server/controllers/Search.ts
  src/server/controllers/Session.ts
  src/server/controllers/Ticket.ts
  src/server/controllers/User.ts
  src/server/functions/getAuthToken/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor

feat: :monocle_face: Adiciona envio de logs de erro para o Sentry
  next.config.js
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/database/index.ts
  src/server/controllers/Issue.ts
  src/server/controllers/Search.ts
  src/server/controllers/Session.ts
  src/server/controllers/Ticket.ts
  src/server/controllers/User.ts
  src/server/functions/getAuthToken/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor

fix: :bug: Corrige a troca repentina do conteúdo de noMobileDevice
  src/app/layout.tsx
  src/app/noMobileDevice/page.tsx
  src/database/index.ts
  src/screens/NoMobileDevice/index.tsx
  src/server/controllers/Session.ts
  src/server/entities/index.ts
Labels: refactor

fix: :bug: Corrige a troca repentina do conteúdo de noMobileDevice
  src/app/layout.tsx
  src/app/noMobileDevice/page.tsx
  src/database/index.ts
  src/screens/NoMobileDevice/index.tsx
  src/server/controllers/Session.ts
  src/server/entities/index.ts
Labels: refactor

refactor: :recycle: Migra o backend para o services-core
  .gitignore
  package.json
  src/database/config/config.ts
  src/database/index.ts
  src/server/entities/Address.ts
  src/server/entities/ColorScheme.ts
  src/server/entities/Enterprise.ts
  src/server/entities/Event.ts
  src/server/entities/IssueCategories.ts
  src/server/entities/Session.ts
  src/server/entities/Subsidiary.ts
  src/server/entities/Ticket.ts
  src/server/entities/User.ts
  src/server/entities/index.ts
  src/server/models/Errors/AuthError.ts
  src/server/models/Errors/index.ts
  src/server/models/Session.ts
  src/server/models/User.ts
  src/server/models/index.ts
  src/server/repository/Event.ts
  src/server/repository/Issue.ts
  src/server/repository/Search.ts
  src/server/repository/Session.ts
  src/server/repository/Ticket.ts
  src/server/repository/User.ts
  src/server/repository/index.ts
  src/server/services/Event.ts
  src/server/services/Issue.ts
  src/server/services/Search.ts
  src/server/services/Session.ts
  src/server/services/Ticket.ts
  src/server/services/User.ts
  src/server/services/index.ts
Labels: refactor, dependencies

refactor: :recycle: Migra o backend para o services-core
  .gitignore
  package.json
  src/database/config/config.ts
  src/database/index.ts
  src/server/entities/Address.ts
  src/server/entities/ColorScheme.ts
  src/server/entities/Enterprise.ts
  src/server/entities/Event.ts
  src/server/entities/IssueCategories.ts
  src/server/entities/Session.ts
  src/server/entities/Subsidiary.ts
  src/server/entities/Ticket.ts
  src/server/entities/User.ts
  src/server/entities/index.ts
  src/server/models/Errors/AuthError.ts
  src/server/models/Errors/index.ts
  src/server/models/Session.ts
  src/server/models/User.ts
  src/server/models/index.ts
  src/server/repository/Event.ts
  src/server/repository/Issue.ts
  src/server/repository/Search.ts
  src/server/repository/Session.ts
  src/server/repository/Ticket.ts
  src/server/repository/User.ts
  src/server/repository/index.ts
  src/server/services/Event.ts
  src/server/services/Issue.ts
  src/server/services/Search.ts
  src/server/services/Session.ts
  src/server/services/Ticket.ts
  src/server/services/User.ts
  src/server/services/index.ts
Labels: refactor, dependencies

feat: :sparkles: Adiciona monitoramento com React Scan no AppProviders
  package.json
  pnpm-lock.yaml
  src/utils/providers/providers.tsx
Labels: refactor, dependencies

feat: :sparkles: Adiciona monitoramento com React Scan no AppProviders
  package.json
  pnpm-lock.yaml
  src/utils/providers/providers.tsx
Labels: refactor, dependencies

feat: :sparkles: Adiciona autenticação e gerenciamento de sessão com NextAuth
  package.json
  pnpm-lock.yaml
  src/app/(protected)/home/page.tsx
  src/app/(protected)/layout.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/sessions/route.ts
  src/app/api/user/token/route.ts
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/auth.ts
  src/implementations/client/abstractions/httpClient/index.tsx
  src/middleware.ts
  src/screens/Home/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/UI/index.tsx
  src/screens/Login/index.tsx
  src/server/controllers/Session.ts
  src/server/functions/getAuthToken/index.ts
  src/types/Interfaces/HttpResponse.ts
  src/types/Interfaces/Session.ts
  src/types/Interfaces/User.ts
  src/utils/apis/Session/index.ts
  src/utils/apis/index.ts
  src/utils/constraints/defaultHeaders.ts
  src/utils/constraints/index.ts
  src/utils/functions/closeSession/index.ts
  src/utils/functions/createSession/index.ts
  src/utils/functions/getUserByToken/index.ts
  src/utils/functions/index.ts
  src/utils/index.tsx
  src/utils/providers/AuthProvider/index.tsx
  src/utils/providers/providers.tsx
  tsconfig.json
  types.d.ts
Labels: refactor, dependencies

feat: :sparkles: Adiciona autenticação e gerenciamento de sessão com NextAuth
  package.json
  pnpm-lock.yaml
  src/app/(protected)/home/page.tsx
  src/app/(protected)/layout.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/sessions/route.ts
  src/app/api/user/token/route.ts
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/auth.ts
  src/implementations/client/abstractions/httpClient/index.tsx
  src/middleware.ts
  src/screens/Home/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/UI/index.tsx
  src/screens/Login/index.tsx
  src/server/controllers/Session.ts
  src/server/functions/getAuthToken/index.ts
  src/types/Interfaces/HttpResponse.ts
  src/types/Interfaces/Session.ts
  src/types/Interfaces/User.ts
  src/utils/apis/Session/index.ts
  src/utils/apis/index.ts
  src/utils/constraints/defaultHeaders.ts
  src/utils/constraints/index.ts
  src/utils/functions/closeSession/index.ts
  src/utils/functions/createSession/index.ts
  src/utils/functions/getUserByToken/index.ts
  src/utils/functions/index.ts
  src/utils/index.tsx
  src/utils/providers/AuthProvider/index.tsx
  src/utils/providers/providers.tsx
  tsconfig.json
  types.d.ts
Labels: refactor, dependencies

feat: :sparkles: Altera a visibilidade do pacote e adiciona accessToken ao usuário na sessão e JWT
  package.json
  types.d.ts
Labels: refactor, dependencies

feat: :sparkles: Altera a visibilidade do pacote e adiciona accessToken ao usuário na sessão e JWT
  package.json
  types.d.ts
Labels: refactor, dependencies

feat: :sparkles: Refatora o gerenciamento de sessão, removendo logs desnecessários e melhorando a autenticação
  src/auth.ts
  src/screens/Login/index.tsx
  src/server/controllers/Session.ts
  src/utils/apis/Session/index.ts
  src/utils/functions/closeSession/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor

feat: :sparkles: Refatora o gerenciamento de sessão, removendo logs desnecessários e melhorando a autenticação
  src/auth.ts
  src/screens/Login/index.tsx
  src/server/controllers/Session.ts
  src/utils/apis/Session/index.ts
  src/utils/functions/closeSession/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor
