Repository welllucky/Services, changes with the labels that .github/labeler.yml gives for each.
All labels: refactor, documentation, test, dependencies

feat: :sparkles: Adiciona novas interfaces e refatora APIs, incluindo a implementação de SectorApi e ajustes na estrutura de URLs
  src/app/api/public/register/getRoles/route.ts
  src/app/api/public/register/getSectors/route.ts
  src/app/api/public/register/route.ts
  src/app/api/tickets/[id]/route.ts
  src/app/api/url/index.ts
  src/app/api/urls/index.ts
  src/implementations/client/abstractions/httpClient/index.tsx
  src/implementations/client/interfaces/HttpClient/index.ts
  src/implementations/client/interfaces/index.ts
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/server/controllers/Issue.ts
  src/server/controllers/Search.ts
  src/server/controllers/Session.ts
  src/server/controllers/Ticket.ts
  src/server/controllers/User.ts
  src/server/functions/getAuthToken/index.ts
  src/types/Interfaces/Apis.ts
  src/types/Interfaces/HttpResponse.ts
  src/types/Interfaces/index.ts
  src/utils/apis/Issue.api.ts
  src/utils/apis/Search.api.ts
  src/utils/apis/Sector.api.ts
  src/utils/apis/Session.api.ts
  src/utils/apis/Ticket.api.ts
  src/utils/apis/User.api.ts
  src/utils/apis/index.ts
Labels: refactor

feat: :sparkles: Adiciona novas interfaces e refatora APIs, incluindo a implementação de SectorApi e ajustes na estrutura de URLs
  src/app/api/public/register/getRoles/route.ts
  src/app/api/public/register/getSectors/route.ts
  src/app/api/public/register/route.ts
  src/app/api/tickets/[id]/route.ts
  src/app/api/url/index.ts
  src/app/api/urls/index.ts
  src/implementations/client/abstractions/httpClient/index.tsx
  src/implementations/client/interfaces/HttpClient/index.ts
  src/implementations/client/interfaces/index.ts
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/server/controllers/Issue.ts
  src/server/controllers/Search.ts
  src/server/controllers/Session.ts
  src/server/controllers/Ticket.ts
  src/server/controllers/User.ts
  src/server/functions/getAuthToken/index.ts
  src/types/Interfaces/Apis.ts
  src/types/Interfaces/HttpResponse.ts
  src/types/Interfaces/index.ts
  src/utils/apis/Issue.api.ts
  src/utils/apis/Search.api.ts
  src/utils/apis/Sector.api.ts
  src/utils/apis/Session.api.ts
  src/utils/apis/Ticket.api.ts
  src/utils/apis/User.api.ts
  src/utils/apis/index.ts
Labels: refactor

feat: :sparkles: Implementa controlador de conta e refatora a lógica de criação de conta, incluindo melhorias na API e no tratamento de erros
  src/app/api/account/route.ts
  src/components/PageStruct/style.tsx
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/screens/Register/UI/index.tsx
  src/screens/Register/register.hook.ts
  src/server/controllers/Account.controller.ts
  src/types/Interfaces/HttpResponse.ts
  src/utils/apis/Account.api.ts
Labels: refactor

feat: :sparkles: Implementa controlador de conta e refatora a lógica de criação de conta, incluindo melhorias na API e no tratamento de erros
  src/app/api/account/route.ts
  src/components/PageStruct/style.tsx
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/screens/Register/UI/index.tsx
  src/screens/Register/register.hook.ts
  src/server/controllers/Account.controller.ts
  src/types/Interfaces/HttpResponse.ts
  src/utils/apis/Account.api.ts
Labels: refactor

feat: :sparkles: Atualiza configuração do Playwright, ajusta branches do workflow e remove arquivos de relatório obsoletos
  .github/workflows/playwright.yml
  .gitignore
  playwright.config.ts
  tests/e2e/NoMobileDevice/noMobileDevice.e2e.ts
  tests/playwright/output/NoMobileDevice-noMobileDev-5fb30--Suite-Access-the-home-page-Android-Mid-Level/trace.zip
  tests/playwright/report/data/e01079cab7f13e6fe2d9086319e67add6806f5f0.zip
  tests/playwright/report/index.html
  tests/playwright/report/trace/assets/codeMirrorModule-eFKCUIu2.js
  tests/playwright/report/trace/assets/testServerConnection-DeE2kSzz.js
  tests/playwright/report/trace/assets/workbench-D0cirtfA.js
  tests/playwright/report/trace/codeMirrorModule.ez37Vkbh.css
  tests/playwright/report/trace/codicon.DCmgc-ay.ttf
  tests/playwright/report/trace/embedded.BkuvsLJp.js
  tests/playwright/report/trace/embedded.html
  tests/playwright/report/trace/embedded.w7WN2u1R.css
  tests/playwright/report/trace/index.C968kAiC.js
  tests/playwright/report/trace/index.CrbWWHbf.css
  tests/playwright/report/trace/index.html
  tests/playwright/report/trace/playwright-logo.svg
  tests/playwright/report/trace/snapshot.html
  tests/playwright/report/trace/sw.bundle.js
  tests/playwright/report/trace/uiMode.BkFnr4V0.js
  tests/playwright/report/trace/uiMode.D3cNFP6u.css
  tests/playwright/report/trace/uiMode.html
  tests/playwright/report/trace/workbench.DjbIuxix.css
  tests/playwright/report/trace/xtermModule.DSXBckUd.css
Labels: refactor, test

feat: :sparkles: Atualiza configuração do Playwright, ajusta branches do workflow e remove arquivos de relatório obsoletos
  .github/workflows/playwright.yml
  .gitignore
  playwright.config.ts
  tests/e2e/NoMobileDevice/noMobileDevice.e2e.ts
  tests/playwright/output/NoMobileDevice-noMobileDev-5fb30--Suite-Access-the-home-page-Android-Mid-Level/trace.zip
  tests/playwright/report/data/e01079cab7f13e6fe2d9086319e67add6806f5f0.zip
  tests/playwright/report/index.html
  tests/playwright/report/trace/assets/codeMirrorModule-eFKCUIu2.js
  tests/playwright/report/trace/assets/testServerConnection-DeE2kSzz.js
  tests/playwright/report/trace/assets/workbench-D0cirtfA.js
  tests/playwright/report/trace/codeMirrorModule.ez37Vkbh.css
  tests/playwright/report/trace/codicon.DCmgc-ay.ttf
  tests/playwright/report/trace/embedded.BkuvsLJp.js
  tests/playwright/report/trace/embedded.html
  tests/playwright/report/trace/embedded.w7WN2u1R.css
  tests/playwright/report/trace/index.C968kAiC.js
  tests/playwright/report/trace/index.CrbWWHbf.css
  tests/playwright/report/trace/index.html
  tests/playwright/report/trace/playwright-logo.svg
  tests/playwright/report/trace/snapshot.html
  tests/playwright/report/trace/sw.bundle.js
  tests/playwright/report/trace/uiMode.BkFnr4V0.js
  tests/playwright/report/trace/uiMode.D3cNFP6u.css
  tests/playwright/report/trace/uiMode.html
  tests/playwright/report/trace/workbench.DjbIuxix.css
  tests/playwright/report/trace/xtermModule.DSXBckUd.css
Labels: refactor, test

feat: :sparkles: Atualiza configuração de autenticação, adiciona testes para a página sem dispositivo móvel e refatora estrutura de testes
  playwright.config.ts
  src/screens/NoMobileDevice/index.tsx
  src/screens/NoMobileDevice/testObject.ts
  tests/e2e/NoMobileDevice/noMobileDevice.e2e.ts
  tests/playwright/fixture/.auth/user.json
  tests/playwright/report/index.html
  tests/playwright/setup/auth.setup.ts
  tests/playwright/setup/global-setup.ts
Labels: refactor, test

feat: :sparkles: Atualiza configuração de autenticação, adiciona testes para a página sem dispositivo móvel e refatora estrutura de testes
  playwright.config.ts
  src/screens/NoMobileDevice/index.tsx
  src/screens/NoMobileDevice/testObject.ts
  tests/e2e/NoMobileDevice/noMobileDevice.e2e.ts
  tests/playwright/fixture/.auth/user.json
  tests/playwright/report/index.html
  tests/playwright/setup/auth.setup.ts
  tests/playwright/setup/global-setup.ts
Labels: refactor, test

feat: :sparkles: Renomeia rotas e ajusta links correspondentes na aplicação
  src/app/(protected)/(form)/abrir-chamado/page.tsx
  src/app/(protected)/(form)/add-media/page.tsx
  src/app/(protected)/(form)/anexar-midia/page.tsx
  src/app/(protected)/(form)/confirm-ticket/page.tsx
  src/app/(protected)/(form)/confirmar-chamado/page.tsx
  src/app/(protected)/(form)/layout.tsx
  src/app/(protected)/(form)/open-ticket/page.tsx
  src/app/(protected)/chamado/[id]/page.tsx
  src/app/(protected)/chamados/page.tsx
  src/app/(protected)/issue/[id]/page.tsx
  src/app/(protected)/issues/page.tsx
  src/app/(protected)/layout.tsx
  src/app/(protected)/pesquisa/page.tsx
  src/app/(protected)/search/page.tsx
  src/app/(protected)/solicitacao/[id]/page.tsx
  src/app/(protected)/solicitacoes/page.tsx
  src/app/(protected)/ticket/[id]/page.tsx
  src/app/(protected)/tickets/page.tsx
  src/screens/Home/UI/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/UI/components/Form/ForgotPassword/index.tsx
  src/screens/OpenIssue/ConfirmMedia/index.tsx
  src/screens/Search/UI/components/content/results/index.tsx
  src/screens/Tickets/UI/index.tsx
  tests/e2e/NoMobileDevice/noMobileDevice.e2e.ts
Labels: refactor, test

feat: :sparkles: Renomeia rotas e ajusta links correspondentes na aplicação
  src/app/(protected)/(form)/abrir-chamado/page.tsx
  src/app/(protected)/(form)/add-media/page.tsx
  src/app/(protected)/(form)/anexar-midia/page.tsx
  src/app/(protected)/(form)/confirm-ticket/page.tsx
  src/app/(protected)/(form)/confirmar-chamado/page.tsx
  src/app/(protected)/(form)/layout.tsx
  src/app/(protected)/(form)/open-ticket/page.tsx
  src/app/(protected)/chamado/[id]/page.tsx
  src/app/(protected)/chamados/page.tsx
  src/app/(protected)/issue/[id]/page.tsx
  src/app/(protected)/issues/page.tsx
  src/app/(protected)/layout.tsx
  src/app/(protected)/pesquisa/page.tsx
  src/app/(protected)/search/page.tsx
  src/app/(protected)/solicitacao/[id]/page.tsx
  src/app/(protected)/solicitacoes/page.tsx
  src/app/(protected)/ticket/[id]/page.tsx
  src/app/(protected)/tickets/page.tsx
  src/screens/Home/UI/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/UI/components/Form/ForgotPassword/index.tsx
  src/screens/OpenIssue/ConfirmMedia/index.tsx
  src/screens/Search/UI/components/content/results/index.tsx
  src/screens/Tickets/UI/index.tsx
  tests/e2e/NoMobileDevice/noMobileDevice.e2e.ts
Labels: refactor, test

feat: :sparkles: Refatora componentes de busca e issues, ajusta tipos e remove rotas obsoletas
  public/sw.js
  public/sw.js.map
  src/app/api/issues/[id]/_route.ts
  src/app/api/issues/[id]/close/_route.ts
  src/app/api/issues/[id]/close/route.ts
  src/app/api/issues/[id]/reopen/_route.ts
  src/app/api/issues/[id]/reopen/route.ts
  src/app/api/issues/[id]/route.ts
  src/app/api/issues/[id]/start/_route.ts
  src/app/api/issues/[id]/start/route.ts
  src/app/api/issues/_route.ts
  src/app/api/issues/inProgress/_route.ts
  src/app/api/issues/inProgress/route.ts
  src/app/api/issues/route.ts
  src/app/api/public/account/create/_route.ts
  src/app/api/public/account/create/route.ts
  src/app/api/user/route.ts
  src/components/Modals/ConfirmModal/index.tsx
  src/components/common/Buttons/Button/styles.ts
  src/docs/common/Select.stories.tsx
  src/docs/common/TextArea.stories.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/OpenIssue/UI/components/Date/index.tsx
  src/screens/OpenIssue/UI/components/Description/index.tsx
  src/screens/OpenIssue/UI/components/Priority/index.tsx
  src/screens/OpenIssue/UI/components/Resume/index.tsx
  src/screens/OpenIssue/UI/components/Type/index.tsx
  src/screens/OpenIssue/UI/index.tsx
  src/screens/Register/UI/components/Form/WhoAreYou/index.tsx
  src/screens/Search/UI/components/content/index.tsx
  src/screens/Search/UI/index.tsx
  src/screens/Search/index.tsx
  src/utils/functions/createSession/index.ts
  src/utils/functions/getUser/index.ts
  tests/playwright/report/index.html
Labels: refactor, test

feat: :sparkles: Refatora componentes de busca e issues, ajusta tipos e remove rotas obsoletas
  public/sw.js
  public/sw.js.map
  src/app/api/issues/[id]/_route.ts
  src/app/api/issues/[id]/close/_route.ts
  src/app/api/issues/[id]/close/route.ts
  src/app/api/issues/[id]/reopen/_route.ts
  src/app/api/issues/[id]/reopen/route.ts
  src/app/api/issues/[id]/route.ts
  src/app/api/issues/[id]/start/_route.ts
  src/app/api/issues/[id]/start/route.ts
  src/app/api/issues/_route.ts
  src/app/api/issues/inProgress/_route.ts
  src/app/api/issues/inProgress/route.ts
  src/app/api/issues/route.ts
  src/app/api/public/account/create/_route.ts
  src/app/api/public/account/create/route.ts
  src/app/api/user/route.ts
  src/components/Modals/ConfirmModal/index.tsx
  src/components/common/Buttons/Button/styles.ts
  src/docs/common/Select.stories.tsx
  src/docs/common/TextArea.stories.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/OpenIssue/UI/components/Date/index.tsx
  src/screens/OpenIssue/UI/components/Description/index.tsx
  src/screens/OpenIssue/UI/components/Priority/index.tsx
  src/screens/OpenIssue/UI/components/Resume/index.tsx
  src/screens/OpenIssue/UI/components/Type/index.tsx
  src/screens/OpenIssue/UI/index.tsx
  src/screens/Register/UI/components/Form/WhoAreYou/index.tsx
  src/screens/Search/UI/components/content/index.tsx
  src/screens/Search/UI/index.tsx
  src/screens/Search/index.tsx
  src/utils/functions/createSession/index.ts
  src/utils/functions/getUser/index.ts
  tests/playwright/report/index.html
Labels: refactor, test

feat: :sparkles: Adiciona script de release e inclui dependência para versionamento automático
  package.json
  pnpm-lock.yaml
Labels: refactor, dependencies

chore(release): 0.2.1
  CHANGELOG.md
  package.json
Labels: refactor, dependencies

feat: :sparkles: Adiciona script de release e inclui dependência para versionamento automático
  .github/workflows/build.yml
  .github/workflows/meticulous.yaml
  .github/workflows/playwright.yml
  .github/workflows/super-linter.yml
  package.json
  pnpm-lock.yaml
  sonar-project.properties
Labels: refactor, dependencies

feat: :sparkles: Adiciona script de release e inclui dependência para versionamento automático
  .github/workflows/build.yml
  .github/workflows/meticulous.yaml
  .github/workflows/playwright.yml
  .github/workflows/super-linter.yml
  package.json
  pnpm-lock.yaml
  sonar-project.properties
Labels: refactor, dependencies

Create SECURITY.md
  SECURITY.md
  public/sw.js
  public/sw.js.map
  src/utils/functions/createSession/index.ts
Labels: refactor

Create SECURITY.md
  SECURITY.md
  public/sw.js
  public/sw.js.map
  src/utils/functions/createSession/index.ts
Labels: refactor

feat: :sparkles: Refatora rotas de sessão e enterprise, ajusta uso de headers padrão e remove dependências obsoletas
  public/sw.js
  public/sw.js.map
  src/app/api/public/account/create/_route.ts
  src/app/api/public/account/route.ts
  src/app/api/public/enterprise/[name]/sectors/[sectorId]/roles/route.ts
  src/app/api/public/enterprise/[name]/sectors/route.ts
  src/app/api/public/session/route.ts
  src/app/api/session/route.ts
  src/constraints/defaultHeaders.ts
  src/constraints/index.ts
  src/server/controllers/Account.controller.ts
  src/server/controllers/Enterprise.controller.ts
  src/server/controllers/Search.controller.ts
  src/server/controllers/Session.controller.ts
  src/server/controllers/Ticket.controller.ts
  src/utils/apis/Account.api.ts
  src/utils/apis/Enterprise.api.ts
  src/utils/apis/Session.api.ts
  src/utils/functions/createSession/index.ts
  src/utils/index.tsx
Labels: refactor

feat: :sparkles: Refatora rotas de sessão e enterprise, ajusta uso de headers padrão e remove dependências obsoletas
  public/sw.js
  public/sw.js.map
  src/app/api/public/account/create/_route.ts
  src/app/api/public/account/route.ts
  src/app/api/public/enterprise/[name]/sectors/[sectorId]/roles/route.ts
  src/app/api/public/enterprise/[name]/sectors/route.ts
  src/app/api/public/session/route.ts
  src/app/api/session/route.ts
  src/constraints/defaultHeaders.ts
  src/constraints/index.ts
  src/server/controllers/Account.controller.ts
  src/server/controllers/Enterprise.controller.ts
  src/server/controllers/Search.controller.ts
  src/server/controllers/Session.controller.ts
  src/server/controllers/Ticket.controller.ts
  src/utils/apis/Account.api.ts
  src/utils/apis/Enterprise.api.ts
  src/utils/apis/Session.api.ts
  src/utils/functions/createSession/index.ts
  src/utils/index.tsx
Labels: refactor

refactor: :zap: Melhora o fluxo de cadastro da aplicação
  public/sw.js
  public/sw.js.map
  src/app/api/session/close/route.ts
  src/assets/Icons/ShieldIcon.tsx
  src/auth.ts
  src/components/Fieldset/index.tsx
  src/components/Fieldset/styles.ts
  src/components/Headers/Header/index.tsx
  src/components/common/Buttons/IconButton/styles.tsx
  src/components/common/Inputs/CustomSelect/index.tsx
  src/components/common/Inputs/CustomSelect/styles.ts
  src/components/common/Inputs/input.hook.tsx
  src/constraints/aliases.ts
  src/constraints/index.ts
  src/implementations/client/abstractions/httpClient/index.tsx
  src/screens/Login/index.tsx
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/screens/Register/UI/components/Form/index.tsx
  src/screens/Register/UI/index.tsx
  src/screens/Register/index.tsx
  src/screens/Register/register.hook.ts
  src/screens/Register/register.store.ts
  src/screens/Register/register.types.ts
  src/server/controllers/Enterprise.controller.ts
  src/server/controllers/Session.controller.ts
  src/server/controllers/Ticket.controller.ts
  src/types/Interfaces/HttpResponse.ts
  src/types/Interfaces/User.ts
  src/types/themes/index.ts
  src/utils/apis/Enterprise.api.ts
  src/utils/apis/Session.api.ts
  src/utils/functions/createSession/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor

refactor: :zap: Melhora o fluxo de cadastro da aplicação
  public/sw.js
  public/sw.js.map
  src/app/api/session/close/route.ts
  src/assets/Icons/ShieldIcon.tsx
  src/auth.ts
  src/components/Fieldset/index.tsx
  src/components/Fieldset/styles.ts
  src/components/Headers/Header/index.tsx
  src/components/common/Buttons/IconButton/styles.tsx
  src/components/common/Inputs/CustomSelect/index.tsx
  src/components/common/Inputs/CustomSelect/styles.ts
  src/components/common/Inputs/input.hook.tsx
  src/constraints/aliases.ts
  src/constraints/index.ts
  src/implementations/client/abstractions/httpClient/index.tsx
  src/screens/Login/index.tsx
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/screens/Register/UI/components/Form/index.tsx
  src/screens/Register/UI/index.tsx
  src/screens/Register/index.tsx
  src/screens/Register/register.hook.ts
  src/screens/Register/register.store.ts
  src/screens/Register/register.types.ts
  src/server/controllers/Enterprise.controller.ts
  src/server/controllers/Session.controller.ts
  src/server/controllers/Ticket.controller.ts
  src/types/Interfaces/HttpResponse.ts
  src/types/Interfaces/User.ts
  src/types/themes/index.ts
  src/utils/apis/Enterprise.api.ts
  src/utils/apis/Session.api.ts
  src/utils/functions/createSession/index.ts
  src/utils/providers/AuthProvider/index.tsx
Labels: refactor

feat: :sparkles: Adiciona script de pré-commit para lint e build
  .husky/pre-commit
  public/sw.js
  public/sw.js.map
  src/auth.ts
  src/components/common/Inputs/CustomInput/styles.ts
  tests/playwright/report/index.html
Labels: refactor, test

feat: :sparkles: Adiciona script de pré-commit para lint e build
  .husky/pre-commit
  public/sw.js
  public/sw.js.map
  src/auth.ts
  src/components/common/Inputs/CustomInput/styles.ts
  tests/playwright/report/index.html
Labels: refactor, test

feat: :sparkles: Adiciona workflow de release no GitHub Actions
  .github/workflows/release-please.yml
Labels: refactor

feat: :sparkles: Adiciona workflow de release no GitHub Actions
  .github/workflows/release-please.yml
Labels: refactor

fix: package.json to reduce vulnerabilities
  package.json
Labels: refactor, dependencies

fix: package.json to reduce vulnerabilities
  package.json
Labels: refactor, dependencies

fix: upgrade zustand from 5.0.0-rc.2 to 5.0.0
  package.json
Labels: refactor, dependencies

fix: upgrade zustand from 5.0.0-rc.2 to 5.0.0
  package.json
Labels: refactor, dependencies

Update README.md
  README.md
Labels: refactor

refactor: :zap: Remove logs de depuração e melhora a legibilidade do código
  CHANGELOG.md
  README.md
  src/auth.ts
  src/components/common/Inputs/CustomSelect/index.tsx
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/server/controllers/Session.controller.ts
  src/utils/functions/index.ts
Labels: refactor

chore: :arrow_up: Atualiza dependências do Sentry e Zustand para versões mais recentes
  package.json
  pnpm-lock.yaml
  src/screens/Login/UI/components/Form/ForgotPassword/index.tsx
  src/utils/functions/index.ts
Labels: refactor, dependencies

refactor: :zap: Remove logs de depuração e melhora a legibilidade do código
  src/auth.ts
  src/components/common/Inputs/CustomSelect/index.tsx
  src/screens/Register/UI/components/Form/WhatYouDo/index.tsx
  src/server/controllers/Session.controller.ts
  src/utils/functions/index.ts
Labels: refactor

chore: :arrow_up: Atualiza dependências do Sentry e Zustand para versões mais recentes
  package.json
  pnpm-lock.yaml
  src/screens/Login/UI/components/Form/ForgotPassword/index.tsx
  src/utils/functions/index.ts
Labels: refactor, dependencies

refactor: :zap: Melhora a lógica de redirecionamento e atualiza a função getTextTheme para ser assíncrona
  next.config.js
  src/app/noMobileDevice/page.tsx
  src/middleware.ts
  src/screens/NoMobileDevice/themeTitle.ts
  src/utils/alias/index.ts
Labels: refactor

refactor: :zap: Remove configuração de webpack desnecessária e atualiza release para usar package.json
  next.config.js
Labels: refactor

feat: :sparkles: Adiciona novos tipos e atualiza componentes do formulário de login
  src/app/login/page.tsx
  src/auth.ts
  src/components/common/Inputs/CustomInput/index.tsx
  src/components/common/Inputs/CustomSelect/index.tsx
  src/components/common/Inputs/CustomTextArea/index.tsx
  src/constraints/authErrorMmessages.ts
  src/constraints/index.ts
  src/screens/Login/Login.hook.tsx
  src/screens/Login/Login.types.ts
  src/screens/Login/UI/components/DisplayImage/index.tsx
  src/screens/Login/UI/components/Form/EmailInput/index.tsx
  src/screens/Login/UI/components/Form/PasswordInput/index.tsx
  src/screens/Login/UI/components/Form/index.tsx
  src/screens/Login/UI/components/Form/styles.ts
  src/screens/Login/UI/index.tsx
  src/screens/Login/index.tsx
  src/types/themes/index.ts
  src/utils/functions/AuthUser/index.ts
  src/utils/functions/index.ts
  src/utils/providers/AuthProvider/index.tsx
  types.d.ts
Labels: refactor

feat: :sparkles: Cria os componentes de Skeleton
  package.json
  src/app/(protected)/layout.tsx
  src/assets/Icons/User.icon.tsx
  src/assets/Icons/index.tsx
  src/components/NavBar/index.tsx
  src/components/Skeleton/Skeleton.styles.ts
  src/components/Skeleton/Skeleton.types.ts
  src/components/Skeleton/index.tsx
  src/components/Skeleton/types/Avatar.skeleton.tsx
  src/components/Skeleton/types/Card.skeleton.tsx
  src/components/Skeleton/types/Rectangle.skeleton.tsx
  src/components/Skeleton/types/Text.skeleton.tsx
  src/components/Skeleton/types/index.tsx
  src/components/index.tsx
  src/docs/common/Skeleton.stories.tsx
  src/screens/Login/Login.hook.tsx
  src/screens/Login/UI/index.tsx
  src/types/index.tsx
Labels: refactor, dependencies

feat: :sparkles: Adiciona componentes de esqueleto para carregamento da home
  src/app/(protected)/layout.tsx
  src/components/Headers/Header/index.tsx
  src/components/NavBar/index.tsx
  src/components/Skeleton/index.tsx
  src/screens/Issues/UI/index.tsx
  src/screens/Login/Login.hook.tsx
  src/screens/Search/UI/components/content/styles.tsx
Labels: refactor

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
# root:
#   - changed-files:
#     - any-glob-to-any-file: '*'
  
  # Add 'AnyChange' label to any changes within the entire repository
  refactor:
  - changed-files:
    - any-glob-to-any-file: '**'
  
  # Add 'Documentation' label to any changes within 'docs' folder or any subfolders
  documentation:
  - changed-files:
    - any-glob-to-any-file: docs/**
  
  # Add 'Documentation' label to any file changes within 'docs' folder
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file: docs/*
  
  # Add 'Documentation' label to any file changes within 'docs' or 'guides' folders
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file:
  #     - docs/*
  #     - guides/*
  
  ## Equivalent of the above mentioned configuration using another syntax
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file: ['docs/*', 'guides/*']
  
  # Add 'Documentation' label to any change to .md files within the entire repository 
  # Documentation:
  # - changed-files:
  #   - any-glob-to-any-file: '**/*.md'
  
  # Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
  source:
    - changed-files:
      - any-glob-to-any-file: 'src/**/*'
      - all-globs-to-all-files: '!src/docs/*'
  
  # Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
  feature:
   - head-branch: ['^feature', 'feature']
  
  # Add 'release' label to any PR that is opened against the `main` branch
  release:
   - base-branch: 'prod'

  test:
    - changed-files:
      - any-glob-to-any-file: 'tests/**/*'

  # Add 'bug' label to any PR that has the word 'bug' in the title
  bugfix:
   - title: 'bug'
  
  dependencies:
    - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'yarn.lock'
